<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Health.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HealthCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HealthExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HealthExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E37A57301ED7F0CC00CE4DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E37A574A1ED7F1CA00CE4DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E37A57531ED7F1CB00CE4DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E37A57701ED7F25900CE4DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
